<div id="header"> 
	<div class="marginal">
    <span class="logo marginalItem">
      <a href="/"><img src="/images/logo.png"/></a>      
    </span>      

    <span class="links marginalItem">      
      <a title="Twitter" href="http://twitter.com/fostah"><img src="/images/twitter.png"/></a>
      <a title="LinkedIn" href="http://www.linkedin.com/in/michaellfoster"><img src="/images/linkedin.png"/></a> |
      <a title="Github"         href="https://github.com/fostah"><img src="/images/github.png"/></a> |
      <a title="Stackoverflow"  href="http://stackoverflow.com/users/16524/fostah">Stackoverflow</a>      
    </span>
    </div>    
</div>