<div id="header"> 
	<div class="marginal">
    <span class="logo marginalItem">
      <a href="/"><img src="/images/logo.png"/></a>
    </span>      

    <span class="links marginalItem">      
      <a title="Google+"        href="https://plus.google.com/116080415322799336131/about">Google+</a> |
      <a title="Twitter"        href="http://twitter.com/fostah">Twitter</a> |
      <a title="LinkedIn"       href="http://www.linkedin.com/in/michaellfoster">LinkedIn</a> |
      <a title="Github"         href="https://github.com/fostah">GitHub</a> |
      <a title="Stackoverflow"  href="http://stackoverflow.com/users/16524/fostah">Stackoverflow</a>      
    </span>
    </div>    
</div>