<div id="sidebar">
    <div class="contentMenu">
        <div class="header">About</div>
        <div class="sidebarList">
            <div class="content">
            I'm your host, <a href="https://plus.google.com/116080415322799336131/about" rel="author" alt="Google+" title="Google+">Mike Foster</a>, 
            a software developer living in Florida. My career has focused on mobile development, mainly for whatever platform was king of the hill
            at the time. 
            </div>
            <ul type="square">                
                <li>
                    <a href="http://careers.stackoverflow.com/fostah">Careers Profile</a>
                </li>
                <li>
                    <a title="Email Me" href="mailto:mike@fostah.com">Email</a>
                </li>
                <li>
                    <a href="/archives.html">Archives</a>
                </li>                
                <li>
                    <a title="RSS Feed" href="/atom.xml">RSS</a>
                </li>
            </ul> 
        </div>

        <div class="header">Browse by Category</div>     
        <div class="sidebarList">
            <ul type="square">
                <li>
                    <a href="/ios/">iOS Development</a>
                </li>
                <li>
                    <a href="/site/">Site Technology</a>
                </li>
                <li>
                    <a href="/vcs/">Version Control</a>
                </li>
            </ul> 
	    </div>
    </div>
</div>